<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/SrinivasKunkatla/Desktop/COP"><classes><class name="com.cop.api.tests.Generate_JWT"><methods><include name="post_CreateAuth"/></methods></class><class name="com.cop.api.tests.Verify_JWT_Headers"><methods><include name="verifyHeaders"/><include name="verifyHeaderswithgetMethod"/><include name="verifyHeaderswithInvalidURL"/><include name="verifyHeaderswithInvalidbody"/><include name="verifyHeaderswithInvalidheader"/></methods></class></classes></test></suite>